/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1,
h2 {
    text-align: center;
}

form {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Add some space between inputs */
}

input,
button {
    margin: 0;
    /* Remove default margin */
    padding: 8px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td button {
    padding: 5px 10px;
    cursor: pointer;
}

input:focus {
    border: 2px solid #007BFF;
    outline: none;
}

/* Highlight focused row */
tr.focused {
    background-color: #e0f7fa;
}

.tom-select-custom {
    width: 200px;
    /* Match the width of other inputs */
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-buttons {
    display: flex;
    gap: 10px;
    /* Adjust the gap between buttons as needed */
}

.pagination-buttons button {
    width: 150px;
    /* Adjust the width as needed */
    padding: 5px;
    /* Adjust the padding as needed */
}
